.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error input {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}


.summaryError{
    border: 2px solid red;
    min-height: 20px;
    padding: 5px;
    color: red;
    margin-top: 10px;
}

.formContainer div {
    margin-bottom: 5px;
}