.dialogsContainer {
    height: 100%;
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialogName {
    margin-bottom: 20px;
}